#canvas {
    cursor: url("cat.png"), pointer;
    
    width: 100%;
}

body {
	width: 100%
	height: auto;
}

#colorPalette {
	
}

#dickBox {
	width: 30%;
	float: left;
}

#vagBox {
	width: 70%;
	float: right;
}
#content {
	float: left;
}

#controls {
	float: left;
}